* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('pexels-pixabay-289586.jpg') no-repeat center center/cover;
    z-index: -1;
}

.container {
    display: flex;
    left: 10vw;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}


.login-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
    opacity: 0.8;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box input[type="submit"]:hover {
    background-color: #4a54e1;
}
